/**
* my method
* *this is comment
* ! this means something
* TODO something
* ? another thing
*/

/********************
/** Global styles **/
/*******************/
/* Color variables */
:root {
  --primary-clr: rgb(36, 59, 55);
  --bar-clr: rgb(224,224,224);
}

/* include the padding and border in an element's total width and height */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Set font size to 10px using 62.5% so we can use rem and multiply by 10 for actual size */
html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

/* Set the body properties */
body {
  background: #316154;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

/* Set the container underneath properties to be the correct shize and shape and responsive */
.container-underneath{
  width: 100%;
  max-width: 1080px;
  margin-top: 0;
  margin: 0 auto;
  height: auto;
  border-radius: 20px; 
  background-color: white;
  display: grid;
}

/* Set-up the header's grid number of columns and rows and sizes */
header {
  display: grid;
  grid-template-columns: 1fr minmax(340px, 1080px) 1fr;
  grid-template-rows: auto auto;
}

/* Set-up the middle container's grid number of columns and rows and sizes */
.grid-container-middle-about {
  display: grid;
  grid-template-columns: 1fr minmax(170px, 540px) minmax(170px, 540px) 1fr;
  grid-template-rows: auto auto auto;
  column-gap: 1.8em;
}

/* Set-up the bottom container's grid number of columns and rows and sizes */
.grid-container-bottom {
  display: grid;
  grid-template-columns: 1fr minmax(340px, 1080px) 1fr;
  grid-template-rows: auto auto;
}

/* Set-up the whitespace's grid placement and sizes */
.whitespace {
  background-color: white;
  padding: 2rem 0;
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
}

/* Set-up the footer's grid placement and other properties*/
footer{
  background-color: var(--primary-clr);
  color: var(--bar-clr);
  font-size: 1.5rem;
  text-align: center;
  padding: 1.4rem 0;
  border-radius: 0px 0px 20px 20px;
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
}

/* Set image properties */
img {
  width: 100%;
}

/* Set the banner image properties */
.round-top-corners-20px {
  border-radius: 20px 20px 0px 0px;
}

/* Set the banner grid placement */
.banner {
  display: grid;
  grid-column: 2/4;
  grid-row: 1/2;
}

/* Set the project title placment and properties */
.project-title {
  color: #7f583b;
  padding: 1.8rem;
  display: grid;
  grid-column: 2/4;
  grid-row: 2/3;
}

/*********************
/** Top Navigation **/
/********************/
/* Style the navigation menu */
.navbar {
  background-color: rgba(224,224,224,.7);
  text-align: center;
  height: 42px;

  display: flex; 
  justify-content: space-around; 
  grid-column: 2/3;
  grid-row: 1/2;
  z-index: 10;
  align-self: end; /* Navigation bar to bottom of grid cell */
}

/* Navigation links */
.navbar a {
  align-content: center;
  color: var(--primary-clr);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}

/*  No bar on top when no hover */
.navbar a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--primary-clr);
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

/* Add a top bar on hover */
.navbar a:hover::before {
  transform: scale(1,1);
}

/* Style the current/active link */
.navbar a.active {
  content: '';
  display: block;
  height: 5px;
  background-color: var(--primary-clr);
}

/***********************
/** About Information **
/***********************/
.about-title1 {
  justify-self: center;
  align-self: start;
  margin: 1.6rem;
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
}

.about-title2 {
  justify-self: center;
  align-self: end;
  margin: 1.6rem;
  display: grid;
  grid-column: 3/4;
  grid-row: 1/2;
}

.about-image1 {
  justify-self: start;
  border-radius: 20px;
  width: 100%;
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
}

.about-image2 {
  justify-self: end;
  border-radius: 20px;
  width: 100%;
  display: grid;
  grid-column: 3/4;
  grid-row: 2/3;
}

.about-text1 {
  justify-self: center;
  align-self: start;
  margin: 1.6rem;
  font-size: 1.6rem;
  display: grid;
  grid-column: 2/3;
  grid-row: 3/4;
}

.about-text2 {
  justify-self: center;
  align-self: start;
  margin: 1.6rem;
  font-size: 1.6rem;
  display: grid;
  grid-column: 3/4;
  grid-row: 3/4;
}

/************************
/** Responsive layout **/
/***********************/
@media (max-width: 850px) {
  html {
    font-size: 52.5%;
  }

  /*********************************
  /** Top Navigation under 850px **/
  /********************************/
  /* Style the navigation menu */
  .navbar {
    background-color: rgba(224,224,224,.7);
    text-align: center;
    height: 30px;

    display: flex; 
    justify-content: space-around; 
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 10;
    align-self: end; /* Navigation bar to bottom of grid cell */
  }

  /* Navigation links */
  .navbar a {
    align-content: center;
    color: var(--primary-clr);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.2;
  }
}


}